@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Text color for dark mode */
    --background-start-rgb: 0, 0, 0; /* Black background for dark mode */
    --background-end-rgb: 0, 0, 0; /* Black background for dark mode */
  }
}

@media (max-width: 767px) {
  .container {
    padding: 1rem;
    max-width: 100%;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin-bottom: 0.5rem;
  }

  ul {
    flex-direction: column;
  }
}

body {
  background-color: white;/* Solid white background for light mode */
}

/* Tailwind CSS classes should be applied directly in HTML or JSX */
.hidden.md\:flex.md\:items-center.md\:space-x-8 {
  flex-wrap: wrap;
}
